.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
  padding: 0.25rem 1rem;
  box-shadow: 0 0 10px #000;

  .logo {
    img {
      width: 4.5rem;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    a {
      font-size: 1rem;
      color: #000;
      text-decoration: none;
      transition: all 0.1s ease;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
